/*
Theme Name:     Sideshow Tramps Theme
Theme URI:      http://sideshowtramps.com
Description:    The theme for sideshowtramps.com
Version:        0.1
Author:         Aaron Alexander
Tags:           houston, music, country
Template:       hybrid
*/

body { overflow-y: scroll; }

/* ======= Resize BG hack ======= */

/*
html, body { margin: 0; padding: 0; width: 100%; height: 100%; }

#bg-image { position: fixed; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; }

#page-content-frame { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 2; }
*/

p { margin: 1em 0 0; }

/* ======= Links ======= */

.category a { color: #EFCB86; }

.category a:visited { color: #EFCB86; }

a { color: #EFCB86; }

a:visited { color: #EFCB86; }

a:hover { color: #fff; }

a:active { color: #fff; }

a:hover { }


/* ======= Typography > Headers ======= */

h1 { margin: 0 0 0.2em 0; }

h1 a { text-decoration: none; }

h1 a:hover { }
	
body.landing-page h1,
body.blog h1 { display: block; }

/*
body.shows h1 a { 
	text-indent: -9999px;
	display: block; 
	background: url(images/upcoming-shows-header.png) 0 0 no-repeat;
	height: 40px; }
*/
	
body.bios h1,
body.extras h1 { display: none; }

h1 { font-size: 2em; font-family: 'Special Elite'; text-transform: uppercase; text-shadow: 0 0 3px #000; }

h1 a { color: #fff; }

h1 a:visited { color: #fff; }

h1 a:hover { }

h1 a:active { }


/* ======= Metastuff ======= */

.post-meta-data { clear: both; margin: 1em 0 0 0; }

.post-meta-data a { color: #2368A1; }

.post-meta-data a:visited { color: #2368A1; }

.post-meta-data a:hover { color: #fff; }

.post-meta-data a:active { color: #fff; }


/* ======= Generic ======= */

body { 
	color: #fff;
	background: #000 url(images/generic-template-bg.jpg) center top no-repeat; 
	font: 1em/1.5 'Special Elite'; }
	
.post-edit-link { position: absolute; top: 10px; left: -100px; }


/* ======= Page Backgrounds ======= */

body.landing-page { background-image: url(images/landing-page-bg.jpg); }

body.videos,
body.photos-parent { background-image: url(images/video-template-bg.jpg); }

body.shows { background-image: url(images/shows-template-bg.jpg); }

body.music,
body.music-parent { background-image: url(images/music-template-bg.jpg); }

body.bios { background-image: url(images/bios-template-bg.jpg); }

body.photos { background-image: url(images/dusty-couch-template-bg.jpg); }

body.extras { background-image: url(images/dusty-couch-template-bg.jpg); }

body.the-reverend { background-image: url(images/craig-bio-bg.jpg); }

body.ragtag-mac { background-image: url(images/scott-bio-bg.jpg); }

body.uncle-tic { background-image: url(images/geoffery-bio-bg.jpg); }

body.coach-lc-dupree { background-image: url(images/shane-bio-bg.jpg); }


/* ======= Pages ======= */

body.page-template-template-left { }

body.page-template-template-left #container { }

#container { min-height: 550px; margin: 0 0 0 20px; }
#container div.content { margin: 0 0 30px 0; }

body.singular-page #container { }

body.landing-page #container { 
	top: 370px;
	width: 60em;
	font-size: 1em; }
	
body.landing-page #footer-container { top: 700px; position: absolute; }
	
body.bios-parent #container { width: 400px; }

body.music-parent #container,
body.store #container,
body.checkout #container { }
	
body.music-parent .entry-content dl { float: left; }

body.photos #container { 
	top: 12em; }
	
body.extras #container { 
	margin: 0 auto;
	padding: 170px 0 0 65px; 
	min-height: 0; }

body.videos .entry-content { width: 400px; }
body.videos .entry-content p { }	
body.videos .entry-content ul { }
li.video-link { background: url(images/videos-bg.png) 0 30px no-repeat; }

body.videos .entry-content ul li { min-height: 300px; float: left; margin: 0 30px 10px 0; width: 150px; font-size: 12px; }

body.page-template-template-center-template #container { top: 0; margin: 0; }

body.page-template-template-center-template .entry-content ul { }

body.page-template-template-center-template .entry-content ul li a { 
	text-indent: -9999px;
	width: 200px;
	height: 50px; 
	position: absolute;
	background: url(images/bios-page-sprite.png) no-repeat; }

body.page-template-template-center-template .entry-content ul li.the-reverend a { 
	background-position: 0 -45px;
	left: 70px; 
	width: 230px;
	top: 250px; }

body.page-template-template-center-template .entry-content ul li.ragtag a { 
	background-position: -420px 5px;
    left: 710px;
    top: 300px;
    width: 150px; }

body.page-template-template-center-template .entry-content ul li.coach a { 
	background-position: -65px -200px; 
	width: 175px; 
	height: 65px; 
	left: 140px;
	top: 370px; }

body.page-template-template-center-template .entry-content ul li.uncle-tic a { 
	background-position: -470px -195px;
    height: 55px;
    left: 630px;
    top: 510px; }

body.page-template-template-center-template .entry-content ul li.band-bio a { 
	background-position: -250px -435px;
    height: 70px;
    width: 265px;
    left: 320px;
    top: 480px; }

.entry-content { overflow: hidden; }

.entry-content:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0; }

* html .entry-content { zoom: 1; } /* IE6 */

*:first-child+html .entry-content { zoom: 1; } /* IE7 */


/* ======= Header ======= */

.hide { display: none; }

#body-container {
	margin: 0 auto;
	width: 840px;
	position: relative;
	min-height: 680px; }
	
#header-container { margin: 0 0 20px 0; }

#site-title { 
	float: left;
	margin: 10px 0 0 0; }

#site-title a { 
	background: url(images/tramps-logo.png) no-repeat; 
	width: 244px;
	height: 113px;
	display: block;
	text-indent: -9999px; }

#site-description { 
	display: none; 
	visibility: hidden; }


/* ======= Navigation ======= */

.page-nav { 
	position: relative;
	left: 30px;
	margin: 10px 0 0 0;
	float: left;
	clear: right; }
	
.page-nav ul ul { 
	margin: -20px 0 0 0;
	padding: 0;
	display: none;
	position: absolute;
	z-index: 9001; }

.page-nav ul li { 
	float: left;
	display: block;
	height: 72px;
	margin: 0 0 0 5px; }

.page-nav ul li:hover ul { display: block; }
	
.page-nav li li { 
	display: list-item;
	float: none;
	height: auto;
	margin: 0 0 5px 0; }

.page-nav li a { 
	background: url(images/nav-sprite.png) 0 0 no-repeat;
	display: block;
	height: 69px;
	width: 86px;
	text-indent: -9999px; }

.page-nav li li a { 
	text-indent: 0;
	width: auto !important;
	height: auto !important;
	background: none;
	color: #D49100;
	font-size: 1.3em;
	text-decoration: none;
	text-shadow: 0 0 1px #000; }

.page-nav ul li li a:hover { color: #fff; }
	
.page-nav ul li.page-item-external a { 
	background-position: 0 0;
	width: 86px; }
	
.page-nav ul li.page-item-external a:hover { background-position: -3px -69px; }

.page-nav ul li.page-item-30 a { 
	background-position: -87px 0;
	width: 72px; }
	
.page-nav ul li.page-item-30 a:hover { background-position: -90px -69px; }

.page-nav ul li.page-item-62 a { 
	background-position: -170px 0;
	width: 74px; }
	
.page-nav ul li.page-item-62 a:hover { background-position: -173px -69px; }

.page-nav ul li.page-item-42 a { 
	background-position: -253px 0;
	width: 67px; }
	
.page-nav ul li.page-item-42 a:hover { background-position: -256px -69px; }

.page-nav ul li.page-item-43 a { 
	background-position: -332px 0;
	width: 48px; }

.page-nav ul li.page-item-43 a:hover { background-position: -335px -69px; }

.page-nav ul li.page-item-67 a { 
	background-position: -390px 0;
	width: 74px; }
	
.page-nav ul li.page-item-67 a:hover { background-position: -393px -69px; }

.page-nav ul li.page-item-69 a { 
	background-position: -474px 0;
	width: 63px; }
	
.page-nav ul li.page-item-69 a:hover { background-position: -477px -69px; }

body.taxonomy #content { padding: 20px; }

body.singular-post .hentry { float: left; width: 560px; padding: 20px; }

body.singular-post .hentry h1 { display: block; }

body.singular-post #comments-template { width: 400px; float: left; padding: 20px 0; }

body.singular-post .navigation-links { clear: both; display: none; }
	
#footer-container { width: 840px; }

body.wordpress #footer-container,
body.sideshow-news #footer-container { clear: left; }
	
body.landing-page #footer-container { }
	
body.checkout #footer-container { }

/* Footer type 1 */
body.shows #footer-container,
body.music #footer-container,
body.bios #footer-container,
body.coach-lc-dupree #footer-container,
body.the-reverend #footer-container,
body.landing-page #footer-container,
body.ragtag-mac #footer-container { }

/* Footer type 2 */
body.videos #footer-container,
body.store #footer-container,
body.uncle-tic #footer-container { }

#footer { text-align: center; }
	
.footer-nav { display: inline; }

.footer-nav li { 
	display: inline; 
	margin: 0 10px 0 0; }
	
.footer-nav a { 
	text-decoration: none;
	text-shadow: 0 0 1px #000;
	color: #fff; }
	
.footer-nav a:visited { }

.footer-nav a:hover { color: #EFCB86; }

.footer-nav a:active { }


/* ======= Other ======= */

.fanbridge-object { float: right; }

.tv-overlay { 
	/*background: url(images/tv-bg.png) bottom no-repeat;*/
	width: 207px; 
	height: 320px;
	top: 340px;
	right: 60px;
	position: absolute; }

.news-updates-container {
	position: absolute;
	top: 390px;
	left: 50px; }
	
.news-updates-container h3 { 
	background: url(images/tramp-news-header.png) 10px 30px no-repeat;
	text-indent: -9999px;
	width: 100%;
	height: 60px;
	border-bottom: 2px #333 solid;
	padding: 2px; }
	
.news-updates-container dl { 
	padding: 10px;
	line-height: 1.5;
	position: relative;
	top: 1px;
	width: 303px;
	height: 152px;
	overflow-y: scroll; }

.news-updates-container dt { 
	float: left; 
	clear: both;
	margin: 0 15px 0 0;
	color: #EFCB86; }

.news-updates-container dd { 
	float: right;
	width: 190px; }

.news-updates-container .content { 
	width: 320px; 
	height: 210px;
	padding: 2px;
	z-index: 10; 
	position: relative; }

.news-updates-container .underlay { 
	border: 2px #666 solid; 
	opacity: .5;
	width: 320px; 
	padding: 2px;
	height: 210px;
	position: absolute;
	bottom: 0;
	background: #111; }
	
/**
 * Extras
 */

.row { clear: both; }
.column { float: left; }
.cell-content { }
.row-1 .column { width: 280px; margin: 0 10px 0 0; height: 410px; }
.row-2 .column { }
.row-1 .column-1 { }
.row-1 .column-1 .cell-content { width: 100%; height: 100%; }
.row-1 .column-2 { width: 430px; }
.row-1 .column-2 .cell-content { }
.row-2 .column-1 { width: 280px; margin: 0 10px 0 0; height: 220px; }
.row-2 .column-1 .cell-content { width: 100%; height: 100%; }
.row-2 .column-2 { width: 470px; height: 220px; }
.row-2 .column-2 .cell-content { width: 100%; height: 100%; }
.row-1 { }
.row-2 { }
.row .column-1 { }
.row .column-2 { }

div.sideshow-news {
    opacity: .65;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
    /*filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    position: relative;
    left: -110px; }
div.sideshow-news:hover { opacity: 1; }
div.sideshow-news a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    *zoom: 1;
    background: url(images/sideshow-news.png) no-repeat; }

.sideshow-recipes-gallery .cell-content {
    opacity: .65;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
    position: relative;
    top: -20px;
    right: -280px;
    height: 400px;
    background: url(images/recipe-bg.png) -50px 0 no-repeat; }
    
.sideshow-recipes-gallery .cell-content:hover { opacity: 1; }

.sideshow-recipes-gallery .cell-content .page { color: #000; padding: 20px 40px 0 40px; }
    
div.tramps-logic a {
    display: block;
    height: 230px;
    width: 270px;
    text-indent: -9999px;
    *zoom: 1;
    background: url(images/tramps-logic.png) -30px 0 no-repeat; }
    
.wallpapers-and-pics a { 
    display: block;
    height: 230px;
    width: 600px;
    text-indent: -9999px;
    *zoom: 1;
    background: url(images/wallpapers-and-pics.png) -20px 0 no-repeat; }


/* ======= Utility classes ======= */

.external { 
	display: inline-block; 
	*display: inline;
	*zoom: 1;
	padding: 0 12px 0 0; 
	background: url(http://nerdfiles.net/images/external.png) right 0 no-repeat; }

.alignleft { float: left; }

.gallery { text-align: left; margin: 0; float: left; }

.gallery-item { display: inline-block; *display: inline; *zoom: 1; width: 150px !important; margin: 0 1em 0 0; padding: 0; }

.gallery-icon { width: 150px; margin: 0; padding: 0; }

.gallery-caption,
.wp-caption-text { font-size: 12px; text-align: left; }

.clear-hack:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0; }

* html .clear-hack { zoom: 1; } /* IE6 */

*:first-child+html .clear-hack { zoom: 1; } /* IE7 */

body.sideshow-news #container { width: auto; }

body.sideshow-news .entry-content { }

body.sideshow-news .entry-content ul { }

body.sideshow-news .entry-content li { margin: 0 1em 0 0; float: left; }


div.textcol form.product_form { min-width: 0; }
.productdisplay { clear: left; }
.productdisplay a.wpsc_product_title { display: block; float: none; }
input.wpsc_buy_button { font: 1.5em/1.5 'Special Elite'; cursor: pointer; padding: 5px 0; background: none; border: none; color: #b14100; }
#products_page_container div.productdisplay {
    float: left;
    width: 340px;
    margin: 0 30px 30px 0; }
.entry-content #shoppingcart { position: absolute; right: -1px; padding: 10px 5px 0; top: 100px; background: #000; }
.entry-content table.productcart { margin-top: 100px; }


